@media (max-width: 500px){
    .card {
        background-color: var(--white);
        border-radius: 20px;
        width: 70%;
        height: 230px;
        box-shadow: 1px 1px var(--grey_text);
    }
}

@media (min-width: 501px){
    .card {
        background-color: var(--white);
        border-radius: 20px;
        width: 30%;
        height: 230px;
        box-shadow: 1px 1px var(--grey_text);
    }
}

.cover_image {
    display: flex;
    justify-content: space-around;
}

.product_image {
    height: 150px;
}

.cover_title {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 16px;
}


.product_footer{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.subtitle {
    color: var(--grey_text);
    font-size: 14px;
}

.price{
    font-size: 14px;
    font-weight: 700;
}
